#ignore all
/*
#except
!illustration/
!.gitignore
!thesis.tex
!innovation_project.tex
!README.md
!biblio.bib
!LiberationSans*
!vancouver_fi.bst
!data.dat  # for a plot example in thesis_template
!thesis.pdf
